@import url('https://fonts.googleapis.com/css?family=Cormorant');

header {
	background-image: url('Pics/zabriskie.JPG');
	width: 100%;
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat;
}

header h1 {
	text-align: center;
	margin: 0;
	padding-top: 100px;
	color: #f4f2f2;
	font-size: 45px;
	font-family: "Cormorant";
	letter-spacing: 20px;
	font-weight: lighter;
}

header .bottom {
	color: #edeaea;
	font-size: 35px;
	font-family: "Cormorant";
	letter-spacing: 10px;
	text-align: center;
}

h2 {
	padding-left: 15px;
}



a:hover {
	text-decoration: none;
}

.img {
	width: 100%;
	padding-top: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	}

.project:hover .img {
	opacity: 0.7;
}

.project:hover h4 {
	display: block;

}

.project .img {
	position: relative;
}

.project p {
	color: black;
}

.project h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	color: white;
	font-weight: bold;
	width: 100%;
	padding: 5px;
	text-align: center;
}

footer {
	width: 100%;
	height: 200px;
	background-color: lightblue;
	position: relative;
}

footer .fab {
	font-size: 28px;
	color: white;
	padding: 5px;
	
}

footer .icons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

footer .email {
	position: absolute;
	top: 20%;
	left: 43%;
	font-size: 16px;
}

/*Media queries*/

@media screen and (min-width: 300px) and (max-width: 720px) and (orientation : portrait) {
	header h1 {
		font-size: 20px;
		margin-left: 5px;
	}
	
	header .bottom {
		font-size: 15px;
	}
}




